body {color: purple; background-color: lavender}
p {margin: 10px; color: purple}
h1 {font-Family: italic; font-size: 2.5em; text-decoration: underline; color: green; text-transformation: capitalize}
h2 {color: blue; text-decoration: none}
li {
  margin: 5px 0;
  text-transform: upercase;
}
.lastLine{color: red}
