body {color: purple; background-color: lavender}
p {margin: 10px; color: purple}
h1 {font-Family: italic; font-size: 2.5em; text-decoration: underline; color: green; text-transform: capitalize}
h2 {color: blue; text-decoration: none}
li {
  margin: 5px 0;
  text-transform: uppercase;
}
.lastLine{color: red}

img {
  width:250px;
  border-radius:15px;
  box-shadow: 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}
.image {
  background: url("img/instructions.jpeg"); 
  width: 250px;
  height: 200px;
  border-radius: 15px; 
  box-shadow: 10px 10px 10px;
}

.container {
  display: grid;
  width: 80%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-template-areas: 
  'navbar navbar navbar navbar'
  'section section section aside'
  'footer footer footer footer '
  ;
}
#navbar {
  grid-area: navbar;
  width: 100%; 
  padding: 100%;
}
#section, #aside {
  grid-area: section;
  grid-area: aside;
  background-color: #f9f9f9; 
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px; 
}

#footer {
  grid-area: footer;
  background-color: #333; 
  color: white; 
  padding: 10px; 
}
a:link {
    color: #007bff; 
    text-decoration: none; 
}

a:visited {
    color: #800080; 
}

a:hover {
    color: #FF4500; 
    text-decoration: underline; 
}